Hello,

a new Private Space key was generated for you for a device "[(${user.device})]".

The key can be downloaded on the following link:

[(${vpn_link})]

Please note this is one-time download link. Once it has been accessed it becomes invalid.
If link does not work for you, please ask your administrator to generate a new key for you.

Best regards,

EnigmaBridge Private Space
