Hello,

we have created a new  Private Space key for a device "[(${user.device})]".

Please follow this link to download it:

[(${vpn_link})]

Please note this is one-time download link. Once it has been accessed it becomes invalid.
If link does not work for you, please ask your administrator to generate a new key for you.

Best regards,

EnigmaBridge Private Space
