/* = Buttons
-------------------------------------------------------------- */

.btn {
    /*margin: 0 5px 5px 0;*/
}

.btn.pull-right {
    margin: 0 0 5px 5px;
}

.btn-d, .btn-d:hover, .btn-d:focus {
    color: #FFF;
    background: rgba(0, 0, 0, .3);
}

/* Prevent ugly blue glow on chrome and safari */
button {
    outline: none !important;
}

.btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}

.btn-xl {
    padding: 16px 40px;
    font-size: 28px;
}

.btn .caret {
    margin: 0 0 0 5px
}

.dropdown a .caret {
    margin: 0 0 0 5px
}

.btn-dropdown .dropdown-menu .dropdown {
    padding: 3px 20px;
}

/* = Enigma formatting
-------------------------------------------------------------- */

.pre-block {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 13px;
    color: rgba(0,0,0,.75);
    overflow: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding-top: 0;
    padding-bottom: 0;
}

.qr {
    /*font-size: 1rem; !*1rem;*!*/
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.enigmabridge {

}

.table-vpn {
    margin-bottom: 0 !important;
}

.enigmabridge .btn-primary {
    background-color: #00a7d7;
}

.enigmabridge .jumbotron {
    background-color: #00a7d7;
    color: #fcfcfc;
}

.enigmabridge .navbar {
    margin-bottom: 0;
    border-radius: 0;
    min-height: 0;
}

.enigmabridge .navbar-header {
    float: right;
}

.enigmabridge .navbar-brand {
    background: url("../images/eblogo2-white.png") center center;
    width: 160px;
    height: 30px;
    background-size: cover;
    padding: 0;
}

.checkbox-firsttime {
    padding-left: 20px;
}

#divStatusClient label {
    font-size: 28px;
    font-weight: 400;
    display: inline;
}

#divStatusClient .cbx-container {
    margin-top: -12px;
}

/* = Big checkbox
-------------------------------------------------------------- */

.grp-check .form-group input[type="checkbox"] {
    display: none;
}

.grp-check .form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.grp-check .form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.grp-check .form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.grp-check .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}

.grp-check .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}

/* = Square buttons
-------------------------------------------------------------- */

.btn-sq-lg {
    width: 150px;
    height: 150px;
}

.btn-sq {
    width: 100px;
    height: 100px;
    font-size: 10px;
}

.btn-sq-sm {
    width: 50px;
    height: 50px;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px;
    height: 25px;
    padding: 2px;
}

.enigmabridge .btn-auto {
    width: auto;
    height: auto;
}

.btn-eb {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-eb.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

fieldset[disabled] .btn-eb {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-eb .badge {
    text-shadow: none;
}

.btn-eb {
    background-image: -webkit-linear-gradient(top, #36C4EF 0%, #00a7d7 100%);
    background-image: -o-linear-gradient(top, #36C4EF 0%, #00a7d7 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#36C4EF), to(#00a7d7));
    background-image: linear-gradient(to bottom, #36C4EF 0%, #00a7d7 100%);
    background-repeat: repeat-x;
    border-color: #009BCA;
}

.btn-eb:hover,
.btn-eb:focus {
    background-color: #00a7d7;
    background-position: 0 -15px;
}

.btn-eb:active,
.btn-eb.active {
    background-color: #00a7d7;
    border-color: #009BCA;
}

.btn-eb.disabled,
.btn-eb[disabled],
fieldset[disabled] .btn-eb,
.btn-eb.disabled:hover,
.btn-eb[disabled]:hover,
fieldset[disabled] .btn-eb:hover,
.btn-eb.disabled:focus,
.btn-eb[disabled]:focus,
fieldset[disabled] .btn-eb:focus,
.btn-eb.disabled.focus,
.btn-eb[disabled].focus,
fieldset[disabled] .btn-eb.focus,
.btn-eb.disabled:active,
.btn-eb[disabled]:active,
fieldset[disabled] .btn-eb:active,
.btn-eb.disabled.active,
.btn-eb[disabled].active,
fieldset[disabled] .btn-eb.active {
    background-color: #00a7d7;
    background-image: none;
}

