.qr {
    /*font-size: 1rem; !*1rem;*!*/
    /*padding-top: 10px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating
   url('http://i.stack.imgur.com/FhHRx.gif')
    or: http://preloaders.net/
    or: http://cssload.net/
*/
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .50 );

    vertical-align: middle;
    text-align: center;
}

.modal .modal-wrap {
    background: rgba( 255, 255, 255, .90 )
    url('../images/ajax-loader.gif')
    50% 50%
    no-repeat;

    width: 100px;
    height: 100px;

    margin: 0 auto;

    border-radius:10%;
    overflow:hidden;

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

/* When the body has the loading class, we turn
the scrollbar off with overflow:hidden */
body.loading {
    overflow: auto;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

/**
 * Material design icons sprites
 * https://materialdesignicons.com/
 * https://www.materialpalette.com/icons
 * https://material.io/icons/
 * http://spritegen.website-performance.org/
 */
.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-btn {
    background: white url(../images/spritesheet.png) no-repeat;
}

.sprite-account:hover {
    width: 24px;
    height: 24px;
    background-position: -5px -5px;
}

.sprite-account {
    width: 24px;
    height: 24px;
    background-position: -39px -5px;
}

.sprite-certificate:hover {
    width: 24px;
    height: 24px;
    background-position: -73px -5px;
}

.sprite-certificate {
    width: 24px;
    height: 24px;
    background-position: -5px -39px;
}

.sprite-check:hover {
    width: 24px;
    height: 24px;
    background-position: -39px -39px;
}

.sprite-check {
    width: 24px;
    height: 24px;
    background-position: -73px -39px;
}

.sprite-download:hover {
    width: 24px;
    height: 24px;
    background-position: -5px -73px;
}

.sprite-download {
    width: 24px;
    height: 24px;
    background-position: -39px -73px;
}

.sprite-email:hover {
    width: 24px;
    height: 24px;
    background-position: -73px -73px;
}

.sprite-email {
    width: 24px;
    height: 24px;
    background-position: -107px -5px;
}

#vpnusers .grid td,
#vpnusers .grid th {
    vertical-align: middle;
}

#vpnusers .grid td .center,
#vpnusers .grid th .center {
    text-align: center;
}

#vpnusers .sprite-icon {
    margin: auto;
    display: block;
}

#vpnusers .sprite-icon-float {
    float: left;
    opacity: 0.25;
    filter: alpha(opacity=25);  /* For IE8 and earlier */
}

#vpnusers .detail-field {
    display: none;
    float: left;
}

#vpnusers .img-button {
    background-color: white;
    border: none;
}

