.qr {
    /*font-size: 1rem; !*1rem;*!*/
    /*padding-top: 10px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating
   url('http://i.stack.imgur.com/FhHRx.gif')
    or: http://preloaders.net/
    or: http://cssload.net/
*/
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .50 );

    vertical-align: middle;
    text-align: center;
}

.modal .modal-wrap {
    background: rgba( 255, 255, 255, .90 )
    url('../images/ajax-loader.gif')
    50% 50%
    no-repeat;

    width: 100px;
    height: 100px;

    margin: 0 auto;

    border-radius:10%;
    overflow:hidden;

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

/* When the body has the loading class, we turn
the scrollbar off with overflow:hidden */
body.loading {
    overflow: auto;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

/**
 * Material design icons sprites
 * https://materialdesignicons.com/
 * https://www.materialpalette.com/icons
 * https://material.io/icons/
 * http://spritegen.website-performance.org/
 */
.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-btn {
    background: white url(../images/spritesheet.png) no-repeat;
}

.sprite-account:hover {
    width: 24px;
    height: 24px;
    background-position: -5px -5px;
}

.sprite-account {
    width: 24px;
    height: 24px;
    background-position: -39px -5px;
}

.sprite-certificate:hover {
    width: 24px;
    height: 24px;
    background-position: -73px -5px;
}

.sprite-certificate {
    width: 24px;
    height: 24px;
    background-position: -5px -39px;
}

.sprite-check:hover {
    width: 24px;
    height: 24px;
    background-position: -39px -39px;
}

.sprite-check {
    width: 24px;
    height: 24px;
    background-position: -73px -39px;
}

.sprite-download:hover {
    width: 24px;
    height: 24px;
    background-position: -5px -73px;
}

.sprite-download {
    width: 24px;
    height: 24px;
    background-position: -39px -73px;
}

.sprite-email:hover {
    width: 24px;
    height: 24px;
    background-position: -73px -73px;
}

.sprite-email {
    width: 24px;
    height: 24px;
    background-position: -107px -5px;
}

#vpnusers .grid td,
#vpnusers .grid th {
    vertical-align: middle;
}

#vpnusers .grid td .center,
#vpnusers .grid th .center {
    text-align: center;
}

#vpnusers .sprite-icon {
    margin: auto;
    display: block;
}

#vpnusers .sprite-icon-float {
    float: left;
    opacity: 0.25;
    filter: alpha(opacity=25);  /* For IE8 and earlier */
}

#vpnusers .detail-field {
    display: none;
    float: left;
}

#vpnusers .img-button {
    background-color: white;
    border: none;
}

.btn {
    /*margin: 0 5px 5px 0;*/
}

.btn.pull-right {
    margin: 0 0 5px 5px;
}

.btn-d, .btn-d:hover, .btn-d:focus {
    color: #FFF;
    background: rgba(0, 0, 0, .3);
}

/* Prevent ugly blue glow on chrome and safari */
button {
    outline: none !important;
}

.btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}

.btn-xl {
    padding: 16px 40px;
    font-size: 28px;
}

.btn .caret {
    margin: 0 0 0 5px
}

.dropdown a .caret {
    margin: 0 0 0 5px
}

.btn-dropdown .dropdown-menu .dropdown {
    padding: 3px 20px;
}

/**
 * EnigmaBridge
 */

.enigmabridge {

}

.table-vpn {
    margin-bottom: 0 !important;
}

.enigmabridge .btn-primary {
    background-color: #00a7d7;
}

.enigmabridge .jumbotron {
    background-color: #00a7d7;
    color: #fcfcfc;
}

.enigmabridge .navbar {
    margin-bottom: 0;
    border-radius: 0;
    min-height: 0;
}

.enigmabridge .navbar-header {
    float: right;
}

.enigmabridge .navbar-brand {
    background: url("../images/eblogo2-white.png") center center;
    width: 160px;
    height: 30px;
    background-size: cover;
    padding: 0;
}

.enigmabridge .jumbotron h1 {
    text-align: center;
}

/**
 * Administration
 */

.eb-solo form#vpnusers .grid {
    width: 100%;
}

.eb-solo .jumbotron h1 {
    font-size: 48px;
}

.eb-solo .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.eb-solo .container h1 {
    font-size: 24px;
}

.eb-solo .vpnuser label {
    margin-bottom: 0;
}

.eb-solo.vpnuser .table tr:first-child td,
.eb-solo.vpnuser .table tr:first-child th{
    border-top: 0;
}

html {
    position: relative;
    min-height: 100%;
}

.eb-solo.with-footer {
    margin-bottom: 60px;
}

.eb-solo .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 52px;
    background-color: #f5f5f5;
}

.eb-solo .footer .navbar-collapse {
    padding-left: 0;
}

.eb-ejbca .eb-footer{
    display: none;
}
